/*==============================
=            GLOBAL            =
==============================*/

:root {
  font-family: sans-serif;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

header {
  text-align: center;
}

table {
  background-color: #888;
  padding: 1px;
  margin: 0 auto;
  border-radius: 10px;
}

th {
  background-color: #999;
  color: #fff;
  font-size: 20px;
}

th:first-child {
  border-top-left-radius: 6px;
}

th:last-child {
  border-top-right-radius: 6px;
}

th,
td {
  padding: 5px;
}

tbody tr:nth-child(odd) td {
  background-color: #bbb;
}

tbody tr:nth-child(even) td {
  background-color: #ddd;
}

tbody tr:hover td {
  background-color: #fff;
}

td {
  font-size: 18px;
}

td.food {
  width: 270px;
}

tbody tr:last-child :first-child {
  border-bottom-left-radius: 6px;
}
tbody tr:last-child :last-child {
  border-bottom-right-radius: 6px;
}

#botoncito {
  display: block;
  margin: 1rem auto;
  background-color: #eee;
  border-radius: 10px;
  padding: 8px;
  font-size: 18px;
  border: none;
  outline: none;
}

#botoncito:hover {
  background-color: #ccc;
}

#botoncito:active {
  background-color: #888;
  color: #fff;
  transition: all 0s;
}

#copy {
  text-align: center;
}
